.propsMenuContainer {
    inset-inline-end: 0;
    border-inline-start: 1px solid lightgrey;
    flex-direction: column;
    background-color: white;
    height: 100%;
    transition: width 250ms;
    position: absolute;
    z-index: 4;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    width: 20%;
}

.propsMenuContainer[data-darkmode=true] {
    background-color: var(--light10);
    border-color: var(--light20);
    color: var(--light80);
}

.close {
    width: fit-content;
}

.close[data-darkmode=true] {
    filter: invert(40%);
}

.content {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.p {
    padding: 0.2rem 1rem;
    border-radius: 4px;
    user-select: none;
}

.id {
    color: transparent;
    position: absolute;
    font-size: 10rem;
    inset-inline-end: 0;
    inset-block-end: 0;
    z-index: -1;
    -webkit-text-stroke: 1px var(--light80);
}