@import '~antd/dist/antd.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    --light10: hsl(0, 0%, 10%);
    --light20: hsl(0, 0%, 20%);
    --light30: hsl(0, 0%, 30%);
    --light40: hsl(0, 0%, 40%);
    --light50: hsl(0, 0%, 50%);
    --light60: hsl(0, 0%, 60%);
    --light70: hsl(0, 0%, 70%);
    --light80: hsl(0, 0%, 80%);
    --light95: hsl(0, 0%, 95%);
    --purple25: hsl(320, 100%, 25%);
    --blue40: hsl(240, 100%, 40%);
}

button {
    background: none;
    border: none;
    padding: 0;
}

p,
button {
    margin: 0;
}